@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: Archivo;
}

@keyframes moveBanner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-banner-strip {
    animation: moveBanner 30s linear infinite alternate;
  }
  @keyframes moveBannerRev {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-banner-strip-rev {
    animation: moveBannerRev 30s linear infinite alternate;
  }

  @keyframes boxFall {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .animate-boxFalling {
    animation: boxFall 3s linear;
  }

  .slider3d {
    position: relative;
    width: 50vmin;
    height: 50vmin;
    perspective: 800px;
  }
  
  .slider3d_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.75s;
  }
  
  .slider3d_wrap > * {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.2vmin solid #777;
    background-color: #ddd;
  }
  
  .slider3d_left,
  .slider3d_right {
    position: absolute;
    bottom: calc(100px + 10vmin);
    width: 8vmin;
    height: 8vmin;
    user-select: none;
    cursor: pointer;
  }
  
  .slider3d_left {left: 15vmin;}
  .slider3d_right {right: 15vmin;}
  
  /*
  //
  //
  //
  //
  //
  // secondary style
  */
  html {
    
  }
  
  .slider3d {
    position: absolute;
    top: 0;
    bottom: 25vmin;
    right: 0;
    left: 0;
    margin: auto;
    user-select: none;
    perspective-origin: 50% 50%;
    transition: perspective-origin .5s,
            perspective .5s;
  }
  
  .slider3d_wrap > * {
    top: 10%;
    height: 80%;
    border: none;
    background: radial-gradient(
      rgba(245,122,61,.9), 
      rgba(245,77,61,.9));
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vmin;
    font-size: calc(15vmin + 15px);
    color: rgba(250,250,250,.35);
    cursor: default;
  }
  
  .slider3d_left,
  .slider3d_right {
    background-image: url(https://image.flaticon.com/icons/png/512/148/148737.png);
    background-size: 100% 100%;
    -webkit-filter: grayscale(1);
    color: transparent;
    opacity: .5;
    transform: scaley(.6);
  }
  
  .slider3d_right {
    transform: rotate(180deg) scaley(.6);
  }
  
  .ctrl {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 100px;
    width: 370px;
    height: 20vmin;
    user-select: none;
  }
  
  .visibility {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .visibility label {
    display: block;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .perspOrig {
    position: absolute;
    padding: 4px;
    top: 45px;
    left: 0;
  }
  
  .perspOrig input {
    width: 45px;
    text-align: center;
    outline: none;
    border: none;
    cursor: default;
  }
  
  .ctrl p {
    text-align: center;
    padding-bottom: 1vmin;
    cursor: default;
  }
  
  .perspOrig span {
    position: relative;
    top: 2px;
    left: 2px;
  }
  
  input::selection {
    background-color: #fff;
  }
  
  .perspValue {
    position: absolute;
    top: 45px;
    right: 5px;
  }
  
  [type="range"] {
    width: 200px;
  }
  
  .slideAmount {
    position: absolute;
    top: 0;
    right: 65px;
  }
  
  .slideAmount :not([class]) {
    position: relative;
    bottom: 2px;
    cursor: default;
  } 
  
  .slideAmount [class^="slide"] {
    padding: 0 5px;
    font-size: 25px;
    cursor: pointer;
  }
  
  .slider3d_wrap :nth-child(1) {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/beautiful_nature_landscape_05_hd_picture_166223.jpg);
  }
  
  .slider3d_wrap :nth-child(2) {
    background-image: url(https://cdn.pixabay.com/photo/2018/02/15/21/55/sunset-3156440_960_720.jpg);
  }
  
  .slider3d_wrap :nth-child(3) {
    background-image: url(https://pbs.twimg.com/media/By97KcyIQAMrH2D.jpg);
  }
  
  .slider3d_wrap :nth-child(4) {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736875_960_720.jpg);
  }
  
  .slider3d_wrap :nth-child(5) {
    background-image: url(https://cdn.pixabay.com/photo/2018/02/15/21/55/sunset-3156440_960_720.jpg);
  }
  
  .slider3d_wrap :nth-child(6) {
    background-image: url(http://images6.fanpop.com/image/photos/35900000/Autumn-nature-35986574-500-373.jpg);
  }